#!/usr/bin/env bash

#git aliases
alias gts="git status"
alias gta="git add --all"
alias gp="git up"
alias prunetags="git fetch --prune origin +refs/tags/*:refs/tags/*"

#shortcuts
alias c="clear"
alias ll='ls -alhF --group-directories-first'
alias la='ls -A'
alias l='ls -CF'

#Chrome no security
alias chrome="/usr/bin/google-chrome --profile-directory=\"Profile Noodle\" --user-data-dir=\"~/.config/google-chrome/no_security_user/\" --disable-web-security -incognito"

alias mc="cd $WORKSPACE/machine_config"

#Redis
alias redis="/opt/redis/src/redis-server"
alias rc="/opt/redis/src/redis-cli"

#IDE
alias idea="XMODIFIERS= && nohup sh /ide/idea/bin/idea.sh &> /dev/null &"
