#git aliases
alias gts="git status"
alias gta="git add --all"
alias gp="git stash && git pull && git stash pop"

#shortcuts
alias c="clear"
alias ll='ls -alF --group-directories-first'
alias la='ls -A'
alias l='ls -CF'
