#!/usr/bin/env bash

#git aliases
#alias gts="touch ~/gstats && git status >> ~/gstats && echo '**************************************' >> ~/gstats && git branch >> ~/gstats && cat ~/gstats && rm -f ~/gstats"
alias gta="git add --all"
alias gp="git up"
alias prunetags="git fetch --prune origin +refs/tags/*:refs/tags/*"

#shortcuts
alias c="clear"
alias ll='ls -alhF --group-directories-first'
alias la='ls -A'
alias l='ls -CF'

#rebash
alias reb="source ~/.bashrc"

#Chrome no security
alias chrome="/usr/bin/google-chrome --profile-directory=\"Profile Noodle\" --user-data-dir=\"~/.config/google-chrome/no_security_user/\" --disable-web-security -incognito"

alias dffs="cd $WORKSPACE/dot-files-from-space"

#Redis
alias redis="/opt/redis/src/redis-server"
alias rc="/opt/redis/src/redis-cli"

#IDE
alias idea="XMODIFIERS= && nohup sh /ide/idea/bin/idea.sh &> /dev/null &"
